*, *:after, *:before{margin: 0; padding: 0; box-sizing: border-box;}
ol,ul{list-style:none}
body{font-family:Microsoft Yahei;background-color:#edf1f5}
a:hover{color:#666}
svg{cursor:move;}
svg text{font-family:fantasy;font-size:14px;color:#ffffe0}
svg .node{cursor:pointer}
svg .node .ring{stroke-width:8px;stroke:#6ac6ff;opacity:.2;transition:opacity .6s}
svg .node:active .ring,svg .node:hover .ring{opacity:.7}
svg .link{fill:none;stroke:#6ac6ff;opacity:.8;stroke-width:2}
svg text.desc{fill:#000;font-family:fantasy;font-size:10px;font-weight:bolder}
.structure_chart{position:relative;margin:0 auto;box-shadow:0 0 3px 2px #dfdfdf}
.kl_title{padding:18px 20px;border-bottom:1px solid #bbb;background-color:#fff;font-size:18px;font-weight:700;line-height:19px;color:#666}
.kl_spread{margin:0 0 20px;padding:10px 13px;border:1px solid #eee;background-color:#fff;line-height:22px}
.kl_spread button{margin:2px 5px;padding:2px 5px;font-size:12px;vertical-align:middle;line-height:17px}
#mapRow {text-align: center;min-height:calc(100vh - 200px);}
#mapRow svg {width: 100%;}
